/* common */

/* pngfix */
img, div { behavior: url(/css/iepngfix.htc) }

/* css3 pie */

/* clearfix */
.clearfix:after { 
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  font-size: 0.1em;
}
.clearfix { 
  min-height: 1px;
}
* html .clearfix { 
  height: 1px;
  /*\*//*/
  height: auto;
  overflow: hidden;
  /**/
}

/* default layout */

body {
	background-image: url(/img/page_bg.gif);
}
#wrapper {
	background: url(/img/page_bg.jpg) no-repeat center;	
}
.container {
	width: 970px;
	margin-left: auto;
	margin-right: auto;
}

#header {
  height: 60px;
  color: #FFF;
}
#header h1 {
  float:left;
  width: 270px;
  font-size: x-large;
  margin-top: 20px;
  margin-left: 20px;
}
#header #nav {
  float:right;
  width: 500px;
  padding-top: 20px;
  font-size: small;
}
#header #nav li {
  float:left;
  padding-left: 15px;
  padding-right: 15px;
}
#headline {
  height: 140px;
  text-align:center;
  padding-top: 100px;
  font-size: xx-large;
  border-bottom: 1px solid #CCC;
}
#footer {
	background-color: 
}