/* common */

/* pngfix */
img, div { behavior: url(/css/iepngfix.htc) }

/* css3 pie */

/* clearfix */
.clearfix:after { 
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  font-size: 0.1em;
}
.clearfix { 
  min-height: 1px;
}
* html .clearfix { 
  height: 1px;
  /*\*//*/
  height: auto;
  overflow: hidden;
  /**/
}

/* default layout */

body {
	background-image: url(/img/page_bg.gif);
	text-shadow:0 1px 0 rgba(255,255,255,.7);
	font-size: small;
	font-family: Georgia,"Times New Roman",serif;;
}
#wrapper {
	background: url(/img/page_bg.jpg) no-repeat center;	
}
.container {
	width: 970px;
	margin-left: auto;
	margin-right: auto;
}

#header {
  border-bottom: 1px solid #FFF;
  color: #FFF;
  height: 90px;
}
#header h1 {
  float:left;
  width: 270px;
  font-size: x-large;
  margin-top: 45px;
  margin-left: 20px;
  font-family: 'Open Sans', sans-serif;
} 
#header #nav {
  font-family: 'Open Sans', sans-serif;
  float:right;
  width: 500px;
  margin-top: 55px;
  font-size: small;
}
#header #nav li {
  float:left;
  padding-left: 15px;
  padding-right: 15px;
}
#headline {
  font-family: 'Open Sans', sans-serif;
  height: 140px;
  text-align:center;
  padding-top: 100px;
  font-size: xx-large;
  border-bottom: 1px solid #CCC;
  color: #FFF;
}
#main {
  background-color: #FFF;
  color: #522;
}
#main .container {
	padding-top: 20px;
	padding-bottom: 20px;
}
#footer {
  background-color: #332024;
  color: #FFF;
  font-size: small;
}
#footer .container {
	padding-top: 20px;
	padding-bottom: 20px;
}
